<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url(assets/img/bg11.jpg) ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container" style="margin-top: 100px;">
                    <img src="{{usuarioIdModel.imagen}}">
                </div>
                <h3 class="title">{{usuarioIdModel.nombre}}</h3>
                <p class="category" *ngIf="usuarioIdModel.rol == 'ROL_PROFESIONAL'">
                    {{usuarioIdModel.profesion.nombreProfesion}}</p>
                <p class="category" *ngIf="usuarioIdModel.rol == 'ROL_ADMIN'">Administrador</p>

                <div class="content" style="margin-bottom: 70px; z-index: 999;">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Puntuación</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Resenas</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Contratos</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section adelante">
        <div class="container ">
            <div class="button-container">

                <button class="btn btn-primary btn-round btn-lg" style="cursor: pointer;"
                    *ngIf="identidad._id == usuarioIdModel._id">Editar</button>
                <button class="btn btn-info btn-round btn-lg" style="cursor: pointer;"
                    *ngIf="identidad._id != idUsuario && 'ROL_PROFESIONAL' == usuarioIdModel.rol"
                    (click)="open(classic)">Contratar</button>
            </div>

            <div *ngIf="usuarioIdModel.rol == 'ROL_PROFESIONAL'">
                <h3 class="title">Descripción Profesional</h3>
                <h5 class="description info-contacto">{{usuarioIdModel.descripcionP}}</h5>
            </div>

            <!-- SECCION PAGINAS PROFESIONAL -->
            <div class="container info-contacto">

                <div *ngIf="identidad._id == idUsuario && usuarioIdModel.rol == 'ROL_USUARIO'">
                    <br><br>
                </div>

                <h2 style="text-align: center;">Información de Contácto</h2>
                <div class="row">
                    <div class="col-6">
                        <p>Nombre:</p>
                        <div class="input-group">
                            <input type="text" value="{{usuarioIdModel.nombre}}" placeholder="Nombre"
                                class="form-control divition" disabled />
                        </div>
                        <p>Apellido:</p>
                        <div class="input-group">
                            <input type="text" value="{{usuarioIdModel.apellido}}" placeholder="País"
                                class="form-control divition" disabled />
                        </div>
                        <p>Telefono:</p>
                        <div class="input-group">
                            <input type="text" value="{{usuarioIdModel.telefono}}" placeholder="DPI"
                                class="form-control divition" disabled />
                        </div>
                        <p>Correo:</p>
                        <div class="input-group">
                            <input type="text" value="{{usuarioIdModel.correo}}" placeholder="Correo"
                                class="form-control divition" disabled />
                        </div>
                    </div>
                    <div class="col-6">
                        <p>DPI:</p>
                        <div class="input-group">
                            <input type="text" value="{{usuarioIdModel.dpi}}" placeholder="Dirección"
                                class="form-control divition" disabled />
                        </div>
                        <p>Direccion:</p>
                        <div class="input-group">
                            <input type="text" value="{{usuarioIdModel.direccion}}" placeholder="Dirección"
                                class="form-control divition" disabled />
                        </div>
                        <p>País:</p>
                        <div class="input-group">
                            <input type="text" value="{{usuarioIdModel.pais}}" placeholder="Dirección"
                                class="form-control divition" disabled />
                        </div>
                        <p>Ciudad:</p>
                        <div class="input-group">
                            <input type="text" value="{{usuarioIdModel.ciudad}}" placeholder="Dirección"
                                class="form-control divition" disabled />
                        </div>
                    </div>
                </div>

                <div *ngIf="usuarioIdModel.rol == 'ROL_PROFESIONAL'">
                    <h2 style="text-align: center; padding-top: 40px;">Información de Profesional</h2>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" value="{{usuarioIdModel.profesion.nombreProfesion}}"
                                    placeholder="Nombre" class="form-control divition" disabled />
                            </div>
                            <div class="input-group">
                                <input type="text" value="{{usuarioIdModel.direccionP}}" placeholder="País"
                                    class="form-control divition" disabled />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" value="{{usuarioIdModel.estrellasP}}" placeholder="DPI"
                                    class="form-control divition" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

        <div class="container bg-blanco" *ngIf="usuarioIdModel.rol == 'ROL_PROFESIONAL' && identidad._id == usuarioIdModel._id">
            <button type="button" class="btn btn-warning btn-round" (click)='statusEnviado()'>Enviado</button>
            <button type="button" class="btn btn-info btn-round" (click)='statusRecibido()'>Recibido</button>
        </div>

        <!-- TABS USUARIO data-tabs-color="orange" -->   
        <div class="nav-tabs-navigation bg-blanco"  *ngIf="usuarioIdModel.rol == 'ROL_PROFESIONAL' && identidad._id == usuarioIdModel._id && statusEnvio =='enviado'">
            <div class="nav-tabs-wrapper">
                <h2 style="text-align: center;">Enviado</h2>

                <ngb-tabset [justify]="'center'" class="text-center bg-blanco" >
                    <ngb-tab title="Solicitudes" (click)='statusSolicitudProgreso()'>
                      <ng-template ngbTabContent >
                          
                        <div class="row">
                            <div class="col-3 ">

                                <div class="btn-group-vertical">
                                    <button type="button" class="btn btn-info btn-round" (click)='statusSolicitudProgreso()'>Solicitudes en Proceso</button>
                                    <button type="button" class="btn btn-success btn-round" (click)='statusSolicitudResponder()'>En espera</button>
                                    <button type="button" class="btn btn-danger btn-round" (click)='statusSolicitudCancelada()'>Solicitudes Canceladas</button>
                                </div>

                            </div>
                            <div class="col-9" >
                                    <div *ngIf="statusSolicitud == 'solicitudProgreso'">
                                        <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;"  *ngFor='let sol of contratoSolicitud'>
                                            <div class="card-header">Trabajador: <b>{{sol.trabajador.nombre}}</b></div>
                                            <div class="card-body">
                                              <h5 class="card-title">{{sol.titulo}}</h5>
                                              <p class="card-text">{{sol.descripcion}}</p>
                                              <p class="text-muted"> Enviado</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="statusSolicitud == 'solicitudResponder'">
                                        <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;"  *ngFor='let sol of contratoSolicitudRespuesta'>
                                            <div class="card-header">Trabajador: <b>{{sol.trabajador.nombre}}</b></div>
                                            <div class="card-body">
                                              <h5 class="card-title">{{sol.titulo}}</h5>
                                              <p><b>Respuesta del trabajador:</b></p>
                                              <p class="card-text">{{sol.descripcionR}}</p>
                                              <p class="card-text"><b>Precio:</b> {{sol.precio}}</p>
                                              <button type="button" class="btn btn-danger btn-round btn-sm">Rechazar</button>
                                              <button  class="btn btn-info btn-round btn-sm" >Aceptar</button>

                                            </div>
                                        </div>
                                    </div>

                                <div *ngIf="statusSolicitud == 'solicitudCancelada'">
                                    <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;" *ngFor='let solc of contratoSolicitudCancelada'>
                                        <div class="card-header">Trabajador: <b>{{solc.trabajador.nombre}}</b></div>
                                        <div class="card-body">
                                          <h5 class="card-title">{{solc.titulo}}</h5>
                                          <p class="card-text">{{solc.descripcion}}</p>
                                          <p class="text-muted"> Cancelado</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                          
                      </ng-template>
                    </ngb-tab>

                    <ngb-tab title="Trabajos" >
                        <ng-template ngbTabContent >
                          
                            <div class="row">
                                <div class="col-3 ">
    
                                    <div class="btn-group-vertical">
                                        <button type="button" class="btn btn-success btn-round" (click)='statusTrabajoFinalizado()'>Trabajos Finalizados</button>
                                        <button type="button" class="btn btn-info btn-round" (click)='statusTrabajoProgreso()'>Trabajos en Proceso</button>
                                        <button type="button" class="btn btn-danger btn-round" (click)='statusTrabajoCancelado()'>Trabajos Cancelados</button>
                                    </div>
    
                                </div>
                                <div class="col-9">
                                    <div *ngIf="statusTrabajo == 'trabajoFinalizado'">
                                        <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;"  *ngFor='let solf of contratoTrabajoFinalizado'>
                                            <div class="card-header">Trabajador: <b>{{solf.trabajador.nombre}}</b></div>
                                            <div class="card-body">
                                              <h5 class="card-title">{{solf.titulo}}</h5>
                                              <p class="card-text">{{solf.descripcion}}</p>
                                              <p class="text-muted"> Finalizado</p>

                                            </div>
                                        </div>
                                    </div>

                                <div *ngIf="statusTrabajo == 'trabajoProgreso'">
                                    <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;" *ngFor='let solp of contratoTrabajoProceso'>
                                        <div class="card-header">Trabajador: <b>{{solp.trabajador.nombre}}</b></div>
                                        <div class="card-body">
                                          <h5 class="card-title">{{solp.titulo}}</h5>
                                          <p class="card-text">{{solp.descripcion}}</p>
                                          <p class="text-muted"> En Proceso</p>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="statusTrabajo == 'trabajoCancelado'">
                                    <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;" *ngFor='let solc of contratoTrabajoCancelado'>
                                        <div class="card-header">Trabajador: <b>{{solc.trabajador.nombre}}</b></div>
                                        <div class="card-body">
                                          <h5 class="card-title">{{solc.titulo}}</h5>
                                          <p class="card-text">{{solc.descripcion}}</p>
                                          <p class="text-muted"> Cancelado</p>
                                        </div>
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                              
                          </ng-template>
                      </ngb-tab>

                    <ngb-tab title="Ultimos Contratos" >
                      <ng-template ngbTabContent>
                        <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                              <h5 class="card-title">Primary card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                      </ng-template>
                    </ngb-tab>
                    
                </ngb-tabset>
            </div>
        </div>
        
        
        <!-- TABS profesional data-tabs-color="orange" -->   
        <div class="nav-tabs-navigation bg-blanco"  *ngIf="usuarioIdModel.rol == 'ROL_PROFESIONAL' && identidad._id == usuarioIdModel._id && statusEnvio =='recibido'">
            <div class="nav-tabs-wrapper">
                <h2 style="text-align: center;">Recibido</h2>

                <ngb-tabset [justify]="'center'" class="text-center bg-blanco" >
                    <ngb-tab title="Solicitudes" (click)='statusSolicitudProgreso()'>
                      <ng-template ngbTabContent >
                          
                        <div class="row">
                                    <div class="container">
                                        <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;"  *ngFor='let sol of contratoTabajadorSolicitud'>
                                            <div class="card-header">Contratante: <b>{{sol.contratante.nombre}}</b></div>
                                            <div class="card-body">
                                              <h5 class="card-title">{{sol.titulo}}</h5>
                                              <p class="card-text">{{sol.descripcion}}</p>
                                              <p class="text-muted"> Recibido</p>
                                              <button type="button" class="btn btn-danger btn-round btn-sm">Rechazar</button>
                                              <!-- <button type="button" class="btn btn-info btn-sm">Responder</button> -->
                                              <button  class="btn btn-info btn-round btn-sm" (click)="open(prueba)" (click)='obtenerIdContrato(sol._id)'>Responder</button>

                                            </div>
                                        </div>
                                    </div>                              
                        </div>
                          
                      </ng-template>
                    </ngb-tab>

                    <ngb-tab title="Trabajos" >
                        <ng-template ngbTabContent >
                          
                            <div class="row">
                                <div class="col-3 ">
    
                                    <div class="btn-group-vertical">
                                        <button type="button" class="btn btn-success" (click)='statusTrabajoFinalizado()'>Trabajos Finalizados</button>
                                        <button type="button" class="btn btn-info" (click)='statusTrabajoProgreso()'>Trabajos en Proceso</button>
                                        <button type="button" class="btn btn-danger" (click)='statusTrabajoCancelado()'>Trabajos Cancelados</button>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div *ngIf="statusTrabajo == 'trabajoFinalizado'">
                                        <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;"  *ngFor='let solf of contratoTrabajoFinalizado'>
                                            <div class="card-header">Trabajador: {{solf.trabajador.nombre}}</div>
                                            <div class="card-body">
                                              <h5 class="card-title">{{solf.titulo}}</h5>
                                              <p class="card-text">{{solf.descripcion}}</p>
                                              <p class="text-muted"> Finalizado</p>

                                            </div>
                                        </div>
                                    </div>

                                <div *ngIf="statusTrabajo == 'trabajoProgreso'">
                                    <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;" *ngFor='let solp of contratoTrabajoProceso'>
                                        <div class="card-header">Trabajador: {{solp.trabajador.nombre}}</div>
                                        <div class="card-body">
                                          <h5 class="card-title">{{solp.titulo}}</h5>
                                          <p class="card-text">{{solp.descripcion}}</p>
                                          <p class="text-muted"> En Proceso</p>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="statusTrabajo == 'trabajoCancelado'">
                                    <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;" *ngFor='let solc of contratoTrabajoCancelado'>
                                        <div class="card-header">Trabajador: {{solc.trabajador.nombre}}</div>
                                        <div class="card-body">
                                          <h5 class="card-title">{{solc.titulo}}</h5>
                                          <p class="card-text">{{solc.descripcion}}</p>
                                          <p class="text-muted"> Cancelado</p>
                                        </div>
                                    </div>
                                </div>
                                    
                                </div>
                                <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;"
                                    *ngIf="statusTrabajo == 'trabajoCancelado'">
                                    <div class="card-header">Canceladas</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Primary card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                    </div>
                                </div>

                            </div>

                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Reseñas">
                    <ng-template ngbTabContent>
                        <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Primary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Ultimos Contratos">
                    <ng-template ngbTabContent>
                        <div class="card text-white bg-ligth mb-3 espaciado" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Primary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    
                </ngb-tabset>
            </div>
        </div>

    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
</footer>

</div>
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title text-center">Contrata a {{usuarioIdModel.nombre}}</h5>
        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-7">
                <p>Titulo:</p>
                <div class="form-group">
                    <input type="text" value="" placeholder="Titulo de Solicitud..." class="form-control" id='titulo'
                        name='titulo' #titulo='ngModel' [(ngModel)]='contratoModelAdd.titulo' />
                </div>
            </div>
            <div class="col-5">
                <p>Fecha de Inicio:</p>
                <div class="input-group">
                    <input type="date" class="form-control datetimepicker" placeholder="Fecha de inicio"
                        id='fechaInicio' name="fechaInicio" #fechaInicio='ngModel'
                        [(ngModel)]='contratoModelAdd.fechaInicio'>
                </div>
            </div>
        </div>

        <div class="col-12">
            <p>Descripcion de la Solicitud:</p>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">


                <textarea class="form-control textAreaInput" rows="4" cols="80"
                    placeholder="Describa lo que necesita de manera clara y concisa..." name='descripcion'
                    #descripcion='ngModel' [(ngModel)]='contratoModelAdd.descripcion'></textarea>
            </div>
        </div>

        <!-- Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. -->
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">Cancelar</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-primary btn-link" (click)="solicitudInicio()"
                (click)="c('Close click')">Enviar</button>
        </div>
    </div>
   </ng-template>
<ng-template #prueba let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title text-center">Responder</h5>
        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-7">
                <p>Precio:</p>
                <div class="form-group">
                    <input type="text"  placeholder="Precio..." class="form-control" id='precio' name='precio' #precio='ngModel' [(ngModel)]='contratoRespuesta.precio'/>
                </div>
            </div>
        </div>

        <div class="col-12">
            <p>Respuesta a la Solicitud:</p>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                <textarea class="form-control textAreaInput" rows="4" cols="80" placeholder="Describa lo que necesita de manera clara y concisa..." id="descripcionR" name='descripcionR' #descripcionR='ngModel' [(ngModel)]='contratoRespuesta.descripcionR'></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">Cancelar</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button class="btn btn-primary btn-link"  (click)="solicitudRespuesta()" >Confirmar</button>
        </div>
    </div>
   </ng-template>

