  <nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu *ngIf="identidad.rol != ''">
             <a class="dropdown-header">Menú</a>
             <a class="dropdown-header" *ngIf="identidad.rol == ''">INICIA SESION</a>
             <a class="dropdown-item" [routerLink]="['/perfil',identidad._id]" *ngIf='identidad.rol == "ROL_USUARIO"'>Perfil</a>
             <a class="dropdown-item" [routerLink]="['/perfil', identidad._id]" *ngIf='identidad.rol == "ROL_PROFESIONAL"'>Perfil</a>
             <div class="dropdown-divider" *ngIf='identidad.rol == "ROL_USUARIO"'></div>
             <a class="dropdown-item" [routerLink]="['/professional-register']" *ngIf='identidad.rol == "ROL_USUARIO"'>Házte Profesional</a>
             <a class="dropdown-item" [routerLink]="['/categories']">Categorías</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" [routerLink]="['/login']" (click)='cerrarSesion()' *ngIf='identidad.rol == "ROL_ADMIN"'>Cerrar Sesión</a>
             <a class="dropdown-item" [routerLink]="['/login']" (click)='cerrarSesion()' *ngIf='identidad.rol == "ROL_USUARIO"'>Cerrar Sesión</a>
             <a class="dropdown-item" [routerLink]="['/login']" (click)='cerrarSesion()' *ngIf='identidad.rol == "ROL_PROFESIONAL"'>Cerrar Sesión</a>
           </div>
         </div>
      </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" ngbTooltip="HireXperts" *ngIf="identidad.rol != ''">
                HireXperts
            </a>
            <a class="navbar-brand" [routerLink]="['/login']" placement="bottom" ngbTooltip="HireXperts" *ngIf="identidad.rol == ''">
                HireXperts
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/perfil',identidad._id]"><i class="now-ui-icons users_circle-08"></i> {{identidad.nombre}}</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login" (click)='cerrarSesion()'><i class="now-ui-icons arrows-1_share-66"></i> Cerrar Sesión</a>    </li>
            </ul>
        </div>
    </div>
</nav>
