<!-- <div class="container" id="inputs">
    <div class="row justify-content-md-center row-cols-2 row-cols-lg-3">
        <div class="col col-lg-5 form">
            <h4>Crear cuenta</h4>
            <p class="category">Llena el formulario</p>
            <div class="col-4 col-lg-2">
                <div class="input-group mb-3">
                    <input type="text" value="" placeholder="Nombre" class="form-control divition" />
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="form-group">
                    <input type="text" value="" placeholder="Regular" class="form-control" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <input type="text" value="" placeholder="Correo" class="form-control divition" />
                    <input type="text" value="" placeholder="Teléfono" class="form-control" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="datepicker-container">
                    <div class="form-group">
                        <input class="form-control datetimepicker" placeholder="Fecha de nacimiento" name="dp"
                            ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" data-color="orange">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">Registrarse</button>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="form">
        <div class="row justify-content-md-center">
            <div class="col col-lg-9">
                <h4>Crear cuenta</h4>
                <p class="category">Llena el formulario</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-4 col-lg-3">
                <div class="input-group">
                    <input type="text" value="" placeholder="Nombre" class="form-control divition" />
                </div>
                <div class="input-group">
                    <input type="text" value="" placeholder="País" class="form-control divition" />
                </div>
                <div class="input-group">
                    <input type="text" value="" placeholder="DPI" class="form-control divition" />
                </div>
                <div class="input-group">
                    <input type="text" value="" placeholder="Usuario" class="form-control divition" />
                </div>
                <div class="input-group">
                    <input type="password" value="" placeholder="Dirección" class="form-control divition" />
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <input type="text" value="" placeholder="Apellido" class="form-control" />
                </div>
                <div class="input-group">
                    <input type="text" value="" placeholder="Ciudad" class="form-control divition" />
                </div>
                <div class="input-group">
                    <input type="password" value="" placeholder="Teléfono" class="form-control divition" />
                </div>
                <div class="input-group">
                    <input type="password" value="" placeholder="Contraseña" class="form-control divition" />
                </div>
                <div class="input-group">
                    <div class="datepicker-container">
                        <div class="form-group">
                            <input class="form-control datetimepicker" placeholder="Fecha de nacimiento" name="dp"
                                ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" data-color="orange">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">Registrarse</button>
            </div>
            <div class="col-4 col-lg-3" >
                <img src="https://image.freepik.com/vector-gratis/ilustracion-concepto-inicio-sesion_114360-739.jpg " style="margin-left: 80px">
            </div>
        </div>
    </div>
</div>