.container {
    margin-top: 100px;
    align-items: center;
}

.form{
    border: solid 1px #E3E3E3;
    border-radius: 8px;
    padding: 10px 20px 50px 20px;
}
button{
    float: right;
}
.datetimepicker{
    color: #E3E3E3;
}