.container-header{
    text-align: center;
    color: white;
    margin: 20px;
    padding-top: 40px;
}

.container-item{
    text-align: center;
    padding: 40px;
}

.header-item{
    color: white;
    padding-top:20px ;
}

.body-item{
    color: white;
    font-size: large;
}

.header-descrption{
    text-align: center;
}
.content-descrption{
    text-align: center;
    font-size: medium;
}

.information-box{
    border-width: thin;
    margin-top: 50px;
}

.img-info{
    border-radius: 50%;
    height: 200px;
    margin: 30px;
    margin-left: 50%;
}