<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('https://images.pexels.com/photos/3184360/pexels-photo-3184360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  
      </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/lg.png" alt="">
                <h1 class="h1-seo"><b>HireXperts</b></h1>
                <h3>Donde puedes trabajar y contratar a los mejores expertos</h3>
            </div>
        </div>
    </div>
  
    <div class="section section-tabs">
        <div class="container">
            <h1 class="header-descrption">¿Para quién es HireXperts?</h1>
            <p class="content-descrption">Si eres autónomo o tienes una empresa dedicada a empresas de reformas y reparaciones, este es tu sitio. En <b>HireXperts</b> encontrarás todos los servicios necesarias para gestionar tu actividad diaria, sin esfuerzo. No solo contabilidad, atendemos llamadas, encontramos nuevos trabajos y mucho más.</p>
        </div>
    </div>


    
    
    <div class="main">
      <h1 class="header-descrption" style="padding-top: 60px;">Servicios Incluidos</h1>
      <br>
        <div class="container" id="menu-dropdown">
            <div class="row">
                <div class="col-md-6">            
                    <img src="https://media.discordapp.net/attachments/833808504766070846/867546721624784926/imagen_4.png?width=757&height=676" alt="Rounded Image" class="rounded">
                </div>
                <div class="col-md-6">
                    <br><br><br><br>    
                    <h2>Contrata a un profesional</h2>

                    <p style="line-height: 40px;">Para realizar tus trabajos puedes contratar a <b>personal altamente capacitado</b> dentro de su area, tan solo con buscar en las categorías podras ver que profesionales se ajustan a sus necesidades. Podrás ver reseñas sobre los profesionales y estar seguro y tranquilo de que el trabajo estará hecho con <b>calidad y eficacia.</b> </p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container" id="menu-dropdown">
            <div class="row">
                <div class="col-md-6">
                    <br><br><br><br>    
                    <h2>Postulate como profesional</h2>
                    <p style="line-height: 40px;">Puedes registrarte como profesional para comenzar a <b>brindar tus servicios</b> y que los <b>contratantes</b> puedan encontrarte por medio de buenas reseñas y calificaciones de los trabajos que has realizado con anterioridad. Necesitas llenar datos extra y podras optar a ser un  <b>profesional.</b> </p>
                </div>
                <div class="col-md-6">            
                    <img src="https://media.discordapp.net/attachments/833808504766070846/867545111570022400/Imagen_1.png?width=915&height=676" alt="Rounded Image" class="rounded">
                </div>

            </div>
        </div>
        <br>
        <div class="container" id="menu-dropdown">
            <div class="row">
                <div class="col-md-6">            
                    <img src="https://media.discordapp.net/attachments/833808504766070846/867545560863866911/imagen_2.png?width=931&height=676" alt="Rounded Image" class="rounded">
                </div>
                <div class="col-md-6">
                    <br><br><br>
                    <h2>Crea una buena reputación</h2>

                    <p style="line-height: 40px;"> Puedes crear una <b>buena reputación</b> por medio de tu <b>calidad del servicio.</b> Los contratantes podrán calificar tu trabajo, con esto puedes ganar buena reputación para mejorar tu posicionamiento en las búsquedas y <b>elevar tu número de estrellas.</b> Así mismo podras calificar a tus contratantes para que sea justo el trato entre contratante y contratado</p>
                </div>
            </div>
        </div>
        <br><br><br>    
        
        <div class=""  style="background-color: #1cb199; margin-left: 0px; margin-right: 0px;">
            <div >
                <h1 class="container-header"><b>¿Cómo funciona?</b></h1>
                <div class="row" style="justify-content:center">
                    <div class="col-md-2 container-item">
                        <img src="https://media.discordapp.net/attachments/833808504766070846/867532546953707550/1055687.png" alt="Circle Image" class="rounded-circle">
                        <h2 class="header-item">Paso 1</h2>
                        <p class="body-item">Regístrate</p>
                    </div>
                    <div class="col-md-2 container-item">
                        <img src="https://media.discordapp.net/attachments/833808504766070846/867540102086393876/Contacta_a_un_profesional.png" alt="Circle Image" class="rounded-circle">
                        <h2 class="header-item" >Paso 2</h2>
                        <p class="body-item">Contácta un profesional</p>
                    </div>
                    <div class="col-md-2 container-item">
                        <img src="https://media.discordapp.net/attachments/833808504766070846/867532741386174464/1256646.png" alt="Circle Image" class="rounded-circle">
                        <h2 class="header-item" >Paso 3</h2>
                        <p class="body-item">Llega a un acuerdo</p>
                    </div>
                    <div class="col-md-2 container-item">
                        <img src="https://media.discordapp.net/attachments/833808504766070846/867540444938108938/Recibe_el_servicio.png" alt="Circle Image" class="rounded-circle">
                        <h2 class="header-item" >Paso 4</h2>
                        <p class="body-item">Recibe tu servicio</p>
                    </div>
                    <div class="col-md-2 container-item">
                        <img src="https://media.discordapp.net/attachments/833808504766070846/867536249852919818/1055673.png" alt="Circle Image" class="rounded-circle">
                        <h2 class="header-item" >Paso 5</h2>
                        <p class="body-item">Califica tu Servicio</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container" *ngIf="identidad.rol == 'ROL_USUARIO'">
            <div class="information-box">
              <div class="row">
                <div class="col-6">
                  <div>
                  <img src="https://media.discordapp.net/attachments/806787551271714818/869364768891363378/professional_2.jpg" class="img-info">
                  </div>
              </div>
                <h3 class="col-6" style="margin-top: 10%;"><button class="btn btn-primary" routerLink='/professional-register'>Hazte Profesional</button></h3>
              </div>
            </div>
        </div>



<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    <!-- Footer Elements -->
    <div class="container">
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fab fa-dribbble"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a> PLK Team</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </div>
  