<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Profesiones</h4>
          <a target="_blank" class="btn btn-round btn-agregar" (click)="open(Agregar,'')">Agregar profesión <i
              class="now-ui-icons ui-1_simple-add"></i></a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Img
                </th>
                <th>
                  Nombre
                </th>
                <th class="text-right">
                  Acciones
                </th>
              </thead>
              <tbody *ngFor="let pf of profesiones">
                <tr>
                  <td>
                    {{pf._id}}
                  </td>
                  <td>
                    <img class="img-table" [src]="pf.imagen" alt="">
                  </td>
                  <td>
                    {{pf.nombreProfesion}}
                  </td>
                  <td class="text-right">
                    <div>
                      <button type="button" class="see buttonEdit" (click)="verProfesion(pf._id)" (click)="open(Ver,'')"><i class="material-icons" data-toggle="tooltip"
                          title="See">&#xe8f4;</i></button>
                      <button type="button" class="edit buttonEdit" (click)="verProfesion(pf._id)" (click)="open(Editar,'')"><i class="material-icons" data-toggle="tooltip"
                          title="Edit">&#xE254;</i></button>
                      <button type="button" class="delete buttonEdit" (click)="verProfesion(pf._id)" (click)="open(Eliminar,'')"><i class="material-icons" data-toggle="tooltip"
                          title="Delete">&#xE872;</i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para agregar profesión -->
    <ng-template #Agregar let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title text-center"><b>Agregar profesión</b></h5>
        <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" id="direccion" class="form-control" placeholder="Nombre para identificar la profesión"
                value="" name="nombreProfesion" #nombreProfesion="ngModel"
                [(ngModel)]="profesionModalAdd.nombreProfesion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Imagen</label>
              <textarea type="text" id="imagen" class="form-control" placeholder="Agrega la url de la imagen" value=""
                name="imagen" #imagen="ngModel" [(ngModel)]="profesionModalAdd.imagen"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="right-side">
          <button type="button" class="btn btn-danger btn-link" (click)="c('Close click')">Cancelar</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success btn-link" (click)="agregarProfesion()" (click)="c('Close click')" >Agregar profesión</button>
        </div>
      </div>
    </ng-template>

    <!-- Modal para ver la profesión -->
    <ng-template #Ver let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title text-center"><b>Agregar profesión</b></h5>
        <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" id="direccion" class="form-control" placeholder="Nombre para identificar la profesión"
                value="" name="nombreProfesion" #nombreProfesion="ngModel"
                [(ngModel)]="profesionModal.nombreProfesion" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Imagen</label>
              <textarea type="text" id="imagen" class="form-control" placeholder="Agrega la url de la imagen" value=""
                name="imagen" #imagen="ngModel" [(ngModel)]="profesionModal.imagen" disabled></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-danger btn-link" (click)="c('Close click')">Cerrar</button>
        </div>
      </div>
    </ng-template>

    <!-- Modal para Editar la profesión -->
    <ng-template #Editar let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title text-center"><b>Agregar profesión</b></h5>
        <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" id="direccion" class="form-control" placeholder="Nombre para identificar la profesión"
                value="" name="nombreProfesion" #nombreProfesion="ngModel"
                [(ngModel)]="profesionModal.nombreProfesion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Imagen</label>
              <textarea type="text" id="imagen" class="form-control" placeholder="Agrega la url de la imagen" value=""
                name="imagen" #imagen="ngModel" [(ngModel)]="profesionModal.imagen"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="right-side">
          <button type="button" class="btn btn-danger btn-link" (click)="c('Close click')">Cancelar</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success btn-link" (click)="editarProfesion()" (click)="c('Close click')" >Guardar cambios</button>
        </div>
      </div>
    </ng-template>

    <!-- Modal para eliminar una profesión -->
    <ng-template #Eliminar let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title text-center"><b>Profesión {{ profesionModal.nombreProfesion }}</b></h5>
        <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p style="text-align: center;">¿Está seguro que quiere eliminar la profesión?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-danger btn-link" (click)="c('Close click')">Cancelar</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success btn-link" (click)="eliminarProfesion(profesionModal._id)"
            (click)="c('Close click')">Eliminar</button>
        </div>
      </div>
    </ng-template>