.textAreaInput{
    border-radius: 20px;
}

.buttonSubmit{
    margin-top: 100px;
}

.select-input{
    width: auto;
    border-radius: 0% 30px 30px 0%;
    border: none;
    width: 90%;
    opacity: 0.25;
}